<link rel="import" href="packages/polymer/polymer.html">
<link rel="import" href="packages/core_elements/core_header_panel.html">
<link rel="import" href="packages/core_elements/core_toolbar.html">
<link rel="import" href="packages/core_elements/core_ajax_dart.html">
<link rel="import" href="packages/paper_elements/paper_button.html">

<polymer-element name="app-view">
  <template>
    <style>
      :host {
        height: 100%;
      }

      .app-title {
        text-align: center;
      }
    </style>

    <core-ajax-dart auto url="{{encountersDataPath}}" handleAs="json" on-core-response="{{encountersLoaded}}"></core-ajax-dart>

    <core-header-panel flex>
      <core-toolbar>
        <h2 class="app-title" flex>Dungeon!</h2>
      </core-toolbar>

      <div id="wrapper" fit>
      </div>
    </core-header-panel>
  </template>

  <script type="application/dart" src="app_view.dart"></script>
</polymer-element>